:root {
  --nav-color: #48178e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: arial, helvetica;
  background: black;
}
.return button a {
  color: white;
  text-decoration: none;
}
.return button {
  border: none;
  background-color: var(--nav-color);
  padding: 10px;
  margin-top: 20px;
  margin-left: 760px;
  width: 100px;
  
}
#content {
  color: black;
  margin: 40px;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
}
